In [9]:
import pandas as pd

# reading a tab seperated text file with pandas
df = pd.read_csv('NYSE Analysis/4538%2F7213%2Fbundle%2Farchive/Stocks/aapl.us.txt')
print(df.head(15))

          Date     Open     High      Low    Close    Volume  OpenInt
0   1984-09-07  0.42388  0.42902  0.41874  0.42388  23220030        0
1   1984-09-10  0.42388  0.42516  0.41366  0.42134  18022532        0
2   1984-09-11  0.42516  0.43668  0.42516  0.42902  42498199        0
3   1984-09-12  0.42902  0.43157  0.41618  0.41618  37125801        0
4   1984-09-13  0.43927  0.44052  0.43927  0.43927  57822062        0
5   1984-09-14  0.44052  0.45589  0.44052  0.44566  68847968        0
6   1984-09-17  0.45718  0.46357  0.45718  0.45718  53755262        0
7   1984-09-18  0.45718  0.46103  0.44052  0.44052  27136886        0
8   1984-09-19  0.44052  0.44566  0.43157  0.43157  29641922        0
9   1984-09-20  0.43286  0.43668  0.43286  0.43286  18453585        0
10  1984-09-21  0.43286  0.44566  0.42388  0.42902  27842780        0
11  1984-09-24  0.42902  0.43157  0.42516  0.42516  22033109        0
12  1984-09-25  0.42388  0.42388  0.41618  0.41618  46515020        0
13  1984-09-26  0.41618  0.43540  0.41111  0.41111  30947546        0
14  1984-09-27  0.41111  0.41366  0.41111  0.41111  29541971        0

In [28]:
# print headers (columns)
print(df.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'OpenInt'], dtype='object')

In [35]:
print(df.iloc[1:5])

         Date     Open     High      Low    Close    Volume  OpenInt
1  1984-09-10  0.42388  0.42516  0.41366  0.42134  18022532        0
2  1984-09-11  0.42516  0.43668  0.42516  0.42902  42498199        0
3  1984-09-12  0.42902  0.43157  0.41618  0.41618  37125801        0
4  1984-09-13  0.43927  0.44052  0.43927  0.43927  57822062        0

In [38]:
# itterates through all rows
# for index, row in df.iterrows():
#     print(index, row['Open'])

#Prints columns
# print(df.columns.tolist())

1984-09-10

In [39]:
#prints out row at index 1 and column and index 0 
print(df.iloc[1,0])

1984-09-10

In [54]:
df.loc[df['Open'] > 0.42388]
# df.Open.dtype

,Date,Open,High,Low,Close,Volume,OpenInt
0,1984-09-07,0.42388,0.42902,0.41874,0.42388,23220030,0
1,1984-09-10,0.42388,0.42516,0.41366,0.42134,18022532,0
2,1984-09-11,0.42516,0.43668,0.42516,0.42902,42498199,0
3,1984-09-12,0.42902,0.43157,0.41618,0.41618,37125801,0
4,1984-09-13,0.43927,0.44052,0.43927,0.43927,57822062,0
...,...,...,...,...,...,...,...
8359,2017-11-06,171.75000,174.36000,171.10000,173.63000,34901241,0
8360,2017-11-07,173.29000,174.51000,173.29000,174.18000,24424877,0
8361,2017-11-08,174.03000,175.61000,173.71000,175.61000,24451166,0
8362,2017-11-09,174.48000,175.46000,172.52000,175.25000,29533086,0
8363,2017-11-10,175.11000,175.38000,174.27000,174.67000,25130494,0

In [6]:
df.describe()

,Open,High,Low,Close,Volume,OpenInt
count,8364.000000,8364.000000,8364.000000,8364.000000,8.364000e+03,8364.0
mean,22.284350,22.495867,22.054244,22.281018,1.066416e+08,0.0
std,37.763402,38.057733,37.447432,37.764469,9.935187e+07,0.0
min,0.233050,0.235640,0.230510,0.230510,0.000000e+00,0.0
25%,1.137100,1.164200,1.112800,1.137100,4.384365e+07,0.0
50%,1.632800,1.663400,1.600600,1.628250,7.481383e+07,0.0
75%,23.739000,23.930500,23.335750,23.694500,1.320534e+08,0.0
max,175.110000,175.610000,174.270000,175.610000,2.069770e+09,0.0

In [7]:
print(df.head())

         Date     Open     High      Low    Close    Volume  OpenInt
0  1984-09-07  0.42388  0.42902  0.41874  0.42388  23220030        0
1  1984-09-10  0.42388  0.42516  0.41366  0.42134  18022532        0
2  1984-09-11  0.42516  0.43668  0.42516  0.42902  42498199        0
3  1984-09-12  0.42902  0.43157  0.41618  0.41618  37125801        0
4  1984-09-13  0.43927  0.44052  0.43927  0.43927  57822062        0

In [ ]:
"